.todo-item {
    height: 25vh;
    width: 15vw;
    padding: 1vh 1vw;
    margin: 10px;
    border: 1px solid #666;
    border-radius: 5px;

}

.todo-item>h5,
p {
    color: #666;
}

.del-btn {
    background-color: red;
    color: white;
    padding: 1vh 1vw;
    border: none;
    border-radius: 3px;
}