.todo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    margin: 0 10%;
    padding: 0;
}

.todo-add {
    margin: 0 10vw;
}