<div class="container">
    <h3>Add a New TuDu</h3>
    <form (ngSubmit)="onSubmit()" class="todo-form">
        <label for="todo-title">TuDu Title</label>
        <input type="text" id="title" name="title" placeholder="Enter title" [(ngModel)]="title" required>

        <label for="todo-desc">Description</label>
        <textarea id="desc" name="desc" placeholder="Enter description" [(ngModel)]="desc" required></textarea>

        <button type="submit" class="submit-btn">Add TuDu</button>
    </form>
</div>