/* You can add global styles to this file, and also import other style files */

/* :root {
    main-c
} */

app-root {
    background-color: black;
    color: white;
}

body {
    background-color: #000000;
    opacity: 1;
    background-image: radial-gradient(#404040 0.75px, #000000 0.75px);
    background-size: 15px 15px;
}